/* styles.css */

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que el contenedor principal ocupe el 100% de la altura de la ventana */
}

.container {
    max-width: 800px;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 22px;
    line-height: 40px;
}

p {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}
